{% extends '::base.html.twig' %}

{% block body %}
{{ include('header.html.twig')}}
<div class="container">
{{ include('menu.html.twig')}}
<div>
    {% block content %}
    {% endblock content %}
    </div>
    </div>
{{ include('footer.html.twig')}}
{% endblock body %}
