<div class="menu">
<ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/lucky/number">Lucky Number</a></li>
    <li><a href="/findAll">Liste posts</a></li>
    <li><a href="/myentity/new">New post</a></li>
</ul>
</div>